body{
    font-family: Calibri;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

#imagen {
    width: 650px;
    height: 400px;
    object-fit: cover;
    background-size: cover;
}

